<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">




    <bean id="userService" class="com.liu.service.UserServiceImpl"/>
    <bean id="log" class="com.liu.log.Log"/>
    <bean id="afterlog" class="com.liu.log.Afterlog"/>
<!--方式三-->
    <bean id="annotationpointcut" class="com.liu.div.AnnotationPointCut"/>
    <aop:aspectj-autoproxy/>
<!--一， 使用原生springAPI 接口-->
    <!--配置aop 需要导入aop的约束-->
<!--    <aop:config>-->
<!--        &lt;!&ndash;切入点: expression:表达式，execution(要执行的位置! *****)&ndash;&gt;-->
<!--        <aop:pointcut id="pointcut" expression="execution(* com.liu.service.UserServiceImpl.*(..))"/>-->
<!--        &lt;!&ndash;执行环绕增加&ndash;&gt;-->
<!--        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>-->
<!--        <aop:advisor advice-ref="afterlog" pointcut-ref="pointcut"/>-->
<!--    </aop:config>-->

<!--    &lt;!&ndash;二， 使用自定义类&ndash;&gt;-->
<!--    <bean id="div" class="com.liu.div.DivPointCut"/>-->

<!--    <aop:config>-->
<!--        &lt;!&ndash;自定义切面 ref 要引用的类&ndash;&gt;-->
<!--        <aop:aspect ref="div">-->
<!--         &lt;!&ndash;切入点&ndash;&gt;-->
<!--            <aop:pointcut id="point" expression="execution(* com.liu.service.UserServiceImpl.*(..))"/>-->
<!--            &lt;!&ndash;通知&ndash;&gt;-->
<!--            <aop:before method="before" pointcut-ref="point"/>-->
<!--            <aop:after method="after" pointcut-ref="point"/>-->

<!--        </aop:aspect>-->
<!--    </aop:config>-->
</beans>